# ===============================
# DATASETS (VERY IMPORTANT)
# ===============================
datasets/
data/
*.csv
*.xlsx
*.json
*.parquet

# ===============================
# PYTHON
# ===============================
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
.venv/
venv/
env/
ENV/

# Python environment files
.python-version
pip-log.txt
pip-delete-this-directory.txt

# ===============================
# JUPYTER NOTEBOOKS
# ===============================
.ipynb_checkpoints/

# ===============================
# MACHINE LEARNING FILES
# ===============================
models/
checkpoints/
*.h5
*.pt
*.pth
*.ckpt
*.onnx
*.pkl
*.joblib

# ===============================
# VS CODE
# ===============================
.vscode/
.history/

# ===============================
# OS FILES
# ===============================
.DS_Store
Thumbs.db

# ===============================
# LOGS
# ===============================
logs/
*.log

# ===============================
# BUILD / CACHE
# ===============================
build/
dist/
*.egg-info/
.cache/

# ===============================
# ENV VARIABLES (SECRETS)
# ===============================
.env
.env.*
