
# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Model artifacts (optional if large)
*.pickle

# Logs
*.log